*{
    box-sizing: border-box;
}

body{
    width: 98vw;
    display: flex;
    margin: auto;
}


 /* main alignment  */
body>div.left-side{
    flex: 1;
    height: 98vh;
    background: url(images/background.jpg) no-repeat ;
    position: relative;
}

body>div.form-content{
    flex: 2;
    height: 98vh;
}
/* end of main alignment */



/* #################################### */



/* the left side styling */

/* logo alignment */

body>div.left-side>div.logo{
    width: 100%;
    height: 100px;
    opacity: 0.7;
    background-color: #030502;
    
    /* to make the word sarrow aligned well with the image*/
    
    display: flex;
    align-items: center;

    position: absolute;
    top: 100px;


}
body>div.left-side>div.logo>div.logo-title{
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 5px;
}

/* end of left side align ment */





/* ############################################### */




/* start styling the right side */

body>div.form-content{
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
}
body>div.form-content>p.caption{
    padding-left: 30px;
    padding-right: 17%;
    font-weight: 500;
    font-size: 20px;
    color: #616162;
    margin-top: 30px ;
    margin-bottom: 50px;

}
body>div.form-content div.sign-up{
    width: 100%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 100px;
    background-color: #ffffff;
    box-shadow: 0.5px 0.3px #e6e7e8;
}

form>.submit-section{
    padding-left: 30px;
    margin-top: 15px;
    font-size: 15px;
}

form>.submit-section>button[type="submit"]{
    padding: 3px 30px;
    border-radius: 7px;
    font-size: 15px;
    background-color: #596d48;
    color: white;
}

/* end of making the layout of the left side  */




/* making the layout of the form */

form>div.sign-up{
    display: flex;
    flex-direction: column;

}

form>div.sign-up>div.fields>p{
    width: 50%;
    display: flex;
    flex-direction: column;
    float: left;
    padding-right: 20px;
}

form>div.sign-up>div.fields>p>input{
    width: 70%;

}


/* end of the layout of the form */